.body {
    margin: 1rem 4rem;

    & > * {
        padding: 0.75rem;
    }
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    &>* {
        margin: 2rem 4rem;
    }

    &__img {
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        width: 300px;
    }

    &__description {
        width: 400px;

    }

}

.aboutMe {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    margin: 2.5rem 4rem;

    &>* {
        margin: 0.75rem;
    }

    & p {
        color:  #64748b
    }

    & h1 {
        align-self: center;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
        
    }

    &__btn {
        align-self: flex-end;
    }


}


.skills {
    display: flex;
    flex-direction: column;
    margin: 2.5rem;
    

    & h2 {
        align-self: center;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 1.5rem;


    }

    &__container {
        padding: 1.5rem;
        display: grid;
        justify-content: center;
        grid-template-columns: 20rem 20rem;
        grid-auto-rows: 10rem 10rem;
        grid-gap: 1em 1em;
        // align-items: center;
        // justify-items: center;

    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #bfdbfe;
        justify-items: end;
        // margin: 1rem;
        // padding: 4rem;
        
        & p {
            text-transform: uppercase;
            font-weight: 500;
        }

    }

    &__logo{
        width: 40px;
    }
}

.linkedin {
    width: 30px;
}

.container {
    margin: 2.5rem;
    padding: 1.5rem;

}