.header {
    height: 100vh;
    padding-top: 7rem;
    // overflow: hidden;

    &__container {
        text-align: center;
        height: 100%;
        position: relative;
    }

    &__socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .8rem;
        position: absolute;
        left: 0;


        &::before {
            content: '';
            width: 1px;
            height: 2rem;
            background: var(--color-primary);
        }



        &::after {
            content: '';
            width: 1px;
            height: 2rem;
            background: var(--color-primary);
        }
    

    }

    &__opts {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .8rem;
        position: absolute;
        right: 0;
        padding: 2px;
        border-radius: 100px;
        color: var(--color-primary);

        &::before {
            content: '';
            width: 1px;
            height: 2rem;
            background: var(--color-primary);
        }

        &::after {
            content: '';
            width: 1px;
            height: 2rem;
            background: var(--color-primary);
        }

    }
}

.ImageMe {
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;

    &__img {
        border-radius: 2rem;
    }
}



/* =========== Socials =========== */


/* .body {
    margin: 1rem 4rem;

    &>* {
        padding: 0.75rem;
    }
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    &>* {
        margin: 2rem 4rem;
    }

    &__img {
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        width: 300px;
    }

    &__description {
        width: 400px;

    }

}

.aboutMe {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    margin: 2.5rem 4rem;

    &>* {
        margin: 0.75rem;
    }

    & p {
        color: #64748b
    }

    & h1 {
        align-self: center;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;

    }

    &__btn {
        align-self: flex-end;
    }


}


.skills {
    display: flex;
    flex-direction: column;
    margin: 2.5rem;

    & h2 {
        align-self: center;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }

    &__container {
        padding: 1.5rem;
        display: grid;
        justify-content: center;
        grid-template-columns: 20rem 20rem;
        grid-auto-rows: 10rem 10rem;
        grid-gap: 1rem 1rem;
        // align-items: center;
        // justify-items: center;

    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #bfdbfe;
        justify-items: end;
        border-radius: 15px;



        & p {
            text-transform: uppercase;
            font-weight: 500;
        }

    }

    &__logo {
        width: 40px;
    }
}

.linkedin {
    width: 30px;
}

.container {
    margin: 2.5rem;
    padding: 1.5rem;

}

.projectContainer {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 20rem 20rem 20rem;
    grid-auto-rows: 15rem 15rem;
    margin-top: 3rem;
    grid-gap: 1rem 1rem;
    
    
    & > div {
        border-radius: 15px;
        text-align: center;
        width: 90%;
        height: 90%;
        background-color: #e6e6e6;
        border-style: dashed groove none dotted;

    }
} */