
.headerContainer {
    
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;

    &__link {
        padding: 1.5rem;
        text-decoration: none;
    }
}